.profile-container {
  width: 100%;
  height: 100vh;
}

.profile-container main {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.profile-container main .content-main {
  width: 80%;
  margin-top: 30px;
}

.profile-container main .content-main h1 {
  color: #000;
  font-size: 30px;
}

.profile-container main .content-main ul {
  margin-top: 30px;
  margin-bottom: 30px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  list-style: none;
}

.profile-container main .content-main ul li {
  background-color: #ffff;
  border-radius: 8px;
  list-style: none;

  width: 520px;
  max-height: 350;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.profile-container main .content-main ul li .header-anuncio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-container main .content-main ul li .header-anuncio h1 {
  font-size: 24px;
  font-weight: 400;
}

.profile-container main .content-main ul li .header-anuncio p {
  color: #B7B3B5;
  font-size: 12px;
  font-weight: bold;
}

.profile-container main .content-main ul li .header-anuncio .btn-excluir {
  cursor: pointer;
}

.profile-container main .content-main ul li .box-img {
  border: 1px solid #B7B3B5;
  border-radius: 8px;

  width: 225px;
  height: 125px;
  
  align-self: center;

  display: flex;
  justify-content: center;
}

.profile-container main .content-main ul li .box-img img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  color:  #B7B3B5;;
}

.profile-container main .content-main ul li span {
  color: #000;
  font-size: 14px;
}

.profile-container main .content-main ul li p {
  color:  #B7B3B5;
  font-size: 12px;
}